body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
.game-background {
  background-image: url('/fondojuego.webp'); /* Ruta a la imagen en la carpeta public */
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen */
  height: 100vh; /* Asegura que el contenedor tenga la altura completa de la vista */
  display: flex; /* Usamos flexbox para centrar la tarjeta */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}
.game-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  background: linear-gradient(to top, #00154c, #36097a, #be0c65da);
  
  /* Compatibilidad con Chrome, Safari y otros navegadores basados en WebKit */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Propiedad estándar para otros navegadores modernos */
  background-clip: text;
  color: transparent;

  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  letter-spacing: 2px;
}



.input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background: linear-gradient(to top, #00154c, #36097a, #be0c65da);
  color: #fff;
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #218838;
}

.message {
  margin-top: 20px;
  font-size: 16px;
}

.reiniciar {
  background-color: #dc3545;
}

.reiniciar:hover {
  background-color: #c82333;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #ffffff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: inline-block;
  animation: spin 1s linear infinite;
  margin-left: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
